html {
  overflow-x: hidden;
  height: 100vh;
}
@media (min-width: 768px) {
  html {
    overflow-x: hidden;
  }
}

body {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  float: none;
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  overflow-x: hidden;
}
@media (min-width: 768px) {
  body {
    width: 100%;
    margin: 0 auto;
    float: none;
  }
}

.main__container {
  width: 100%;
  height: 100%;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: unset;
  text-decoration: none;
}

* {
  font-family: "Roboto", sans-serif;
}

footer {
  width: 100%;
  background-color: #353535;
  padding: 22px 25px;
}
footer .footer__contents {
  display: flex;
  flex-direction: column;
  gap: 9px;
}
footer .footer__contents h2 {
  font-size: 18px;
  font-family: "Shrikhand", sans-serif;
  font-weight: 400;
  color: #ffffff;
  margin: 0;
}
footer .footer__contents ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
footer .footer__contents ul li {
  margin-top: 7px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
}
footer .footer__contents ul i {
  margin-right: 11px;
}
footer .footer__contents .footer__second li {
  font-weight: 400;
}
@media (min-width: 768px) {
  footer {
    width: 100%;
    box-sizing: border-box;
    padding: 57px 50px;
  }
  footer .footer__contents {
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
  }
  footer .footer__contents h2 {
    padding-left: 60px;
  }
  footer .footer__contents .footer__list {
    display: flex;
    justify-content: space-around;
    gap: 30px;
  }
  footer .footer__contents .footer__list ul {
    display: flex;
  }
  footer .footer__contents .footer__list ul li {
    padding-left: 10px;
  }
}

.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
}
.header__logo {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 15px 0;
  background-color: #ffffff;
}
.header__logo img {
  width: 162px;
  height: 30px;
  padding-top: 14px;
  color: #101010;
}
@media (min-width: 768px) {
  .header__logo img {
    width: 200px;
    height: 35px;
    padding: 30px 0;
  }
}
.header__location {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 17px;
  background-color: #EAEAEA;
  box-shadow: inset 0 5px 5px -4px rgba(0, 0, 0, 0.2);
}
.header__location i {
  color: #353535;
}
.header__location p {
  color: #353535;
  font-size: 16px;
}

.loader__container {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #f6f6f6;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fade-out 5s ease-out;
  transform: scaleZ(0);
}
@keyframes fade-out {
  0% {
    transform: scaleZ(1);
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  60% {
    opacity: 0.3;
  }
  70% {
    opacity: 0.1;
  }
  100% {
    transform: scaleZ(0);
    opacity: 0;
  }
}
.loader__container .loader {
  border: 16px solid #e6e1e1;
  border-top: 16px solid #9356DC;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 3s 0s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.explore {
  padding: 40px;
  background-color: #f6f6f6;
}
.explore__contents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.explore__contents h1 {
  font-size: 24px;
  width: 275px;
  height: 68px;
  margin-bottom: 0;
  text-align: center;
}
.explore__contents p {
  font-size: 18px;
  font-weight: 300;
  width: 315px;
  height: 46px;
  margin-top: 0;
  margin-bottom: 27px;
  text-align: center;
}
.explore__contents form {
  border-radius: 25px;
}
.explore__contents form button {
  height: 50px;
  background: linear-gradient(358deg, #9356DC -11.44%, #FF79DA 123.93%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  border: none;
  color: #f6f6f6;
  font-size: 16px;
  font-weight: 500;
  transition: all 300ms ease-in-out;
}
.explore__contents form button:hover {
  opacity: 80%;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
.explore__contents form button {
  width: 218px;
}
@media (min-width: 768px) {
  .explore h1 {
    width: 100%;
    font-size: 40px;
  }
  .explore p {
    width: 100%;
  }
}

.fonctionnement {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 48px;
}
.fonctionnement h2 {
  font-size: 24px;
  padding-bottom: 26px;
  padding-left: 20px;
  margin: 0;
}
.fonctionnement__container {
  padding-left: 32px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}
.fonctionnement__container:last-child {
  padding-bottom: 68px;
}
.fonctionnement__contents {
  position: relative;
  width: 322px;
  background-color: #f7f7f7;
  border-radius: 20px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  padding: 28px 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 23px;
}
.fonctionnement__number {
  position: absolute;
  left: -12px;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #9356DC;
  border: #9356DC;
  border-radius: 15px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
}
.fonctionnement__txt {
  display: flex;
  padding-left: 34.5px;
  gap: 23px;
}
.fonctionnement__txt i {
  color: #7e7e7e;
}
.fonctionnement__txt .fa-store {
  color: #9356DC;
}
.fonctionnement__txt span {
  font-size: 16px;
  font-weight: 500;
}
@media (min-width: 768px) {
  .fonctionnement {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
  }
  .fonctionnement__container {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 36.5px;
  }
}
@media (min-width: 1025px) {
  .fonctionnement {
    justify-content: flex-start;
    padding: 50px 180px;
  }
  .fonctionnement h2 {
    padding-left: 0;
  }
  .fonctionnement__container {
    padding-left: 12px;
  }
}

.restaurants {
  width: 100%;
  height: 100%;
  padding: 54px 20px;
  background-color: #f6f6f6;
  box-sizing: border-box;
}
.restaurants h2 {
  margin-top: 0;
}
.restaurants__cards {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.restaurants__cards .card {
  position: relative;
  box-sizing: border-box;
  flex: 1;
}
.restaurants__cards .card__nouveau {
  position: absolute;
  top: 15px;
  right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 29px;
  background-color: #99E2D0;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  border-radius: 2px;
}
.restaurants__cards .card__nouveau p {
  font-size: 14px;
  font-weight: 500;
  color: #008766;
}
.restaurants__cards .card article {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.restaurants__cards .card article img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 90%;
  max-height: 200px;
  border-radius: 20px 20px 0px 0px;
}
.restaurants__cards .card article .card__txt {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 10%;
  border-radius: 0px 0px 20px 20px;
  background-color: #ffffff;
  padding: 16px 13px;
}
.restaurants__cards .card article .card__txt h3 {
  margin: 0;
}
.restaurants__cards .card article .card__txt p {
  margin-top: 5px;
  margin-bottom: 0;
}
.restaurants__cards .card article .card__txt .heartbox {
  right: 12px;
}
.restaurants__cards .card article .card__txt .heartbox .fa-regular {
  position: absolute;
  font-size: 22px;
  margin-right: 12px;
  z-index: 2;
  background-color: #ffffff;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.restaurants__cards .card article .card__txt .heartbox .fa-regular:hover {
  opacity: 0;
}
.restaurants__cards .card article .card__txt .heartbox .fa-solid {
  position: relative;
  margin-right: 12px;
  font-size: 22px;
  z-index: 1;
  color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
  background-image: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
}
.restaurants__cards:last-child {
  padding-bottom: 66px;
}
@media (min-width: 768px) {
  .restaurants {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
  }
  .restaurants__cards {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }
  .restaurants__cards .card {
    display: flex;
    flex: 50%;
    max-width: 45%;
    gap: 100px;
  }
}
@media (min-width: 1025px) {
  .restaurants {
    padding: 30px 180px;
  }
}/*# sourceMappingURL=homepage.css.map */