html {
  overflow-x: hidden;
}
@media (min-width: 768px) {
  html {
    overflow-x: hidden;
  }
}

a {
  color: unset;
  text-decoration: none;
}

body {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  float: none;
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  overflow-x: hidden;
}
@media (min-width: 768px) {
  body {
    width: 100%;
    margin: 0 auto;
    float: none;
  }
}

.main__container {
  width: 100%;
  padding: 0;
  box-sizing: border-box;
}

* {
  font-family: "Roboto", sans-serif;
}

input[type=checkbox] {
  display: none;
}

#heart:checked ~ .fa-solid {
  display: inline-block;
}

#heart:checked ~ .fa-regular {
  display: none;
}

#heart2:checked ~ .fa-solid {
  display: inline-block;
}

#heart2:checked ~ .fa-regular {
  display: none;
}

#heart3:checked ~ .fa-solid {
  display: inline-block;
}

#heart3:checked ~ .fa-regular {
  display: none;
}

#heart4:checked ~ .fa-solid {
  display: inline-block;
}

#heart4:checked ~ .fa-regular {
  display: none;
}

footer {
  width: 100%;
  background-color: #353535;
  padding: 22px 25px;
}
footer .footer__contents {
  display: flex;
  flex-direction: column;
  gap: 9px;
}
footer .footer__contents h2 {
  font-size: 18px;
  font-family: "Shrikhand", sans-serif;
  font-weight: 400;
  color: #ffffff;
  margin: 0;
}
footer .footer__contents ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
footer .footer__contents ul li {
  margin-top: 7px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
}
footer .footer__contents ul i {
  margin-right: 11px;
}
footer .footer__contents .footer__second li {
  font-weight: 400;
}
@media (min-width: 768px) {
  footer {
    width: 100%;
    box-sizing: border-box;
    padding: 57px 50px;
  }
  footer .footer__contents {
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
  }
  footer .footer__contents h2 {
    padding-left: 60px;
  }
  footer .footer__contents .footer__list {
    display: flex;
    justify-content: space-around;
    gap: 30px;
  }
  footer .footer__contents .footer__list ul {
    display: flex;
  }
  footer .footer__contents .footer__list ul li {
    padding-left: 10px;
  }
}

.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.header__logo {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 15px 0;
  background-color: #ffffff;
}
.header__logo img {
  width: 162px;
  height: 30px;
  padding-top: 14px;
  color: #101010;
}
@media (min-width: 768px) {
  .header__logo img {
    width: 200px;
    height: 35px;
    padding: 30px 0;
  }
}
.header__location {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 17px;
  background-color: #EAEAEA;
  box-shadow: inset 0 5px 5px -4px rgba(0, 0, 0, 0.2);
}
.header__location i {
  color: #353535;
}
.header__location p {
  color: #353535;
  font-size: 16px;
}

.explore {
  padding: 40px;
  background-color: #f6f6f6;
}
.explore__contents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.explore__contents h1 {
  font-size: 24px;
  width: 275px;
  height: 68px;
  margin-bottom: 0;
  text-align: center;
}
.explore__contents p {
  font-size: 18px;
  font-weight: 300;
  width: 315px;
  height: 46px;
  margin-top: 0;
  margin-bottom: 27px;
  text-align: center;
}
.explore__contents form {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
}
.explore__contents form button {
  height: 50px;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  border-radius: 25px;
  transform: matrix(1, 0, 0, -1, 0, 0);
  border: none;
}
.explore__contents form button:hover {
  opacity: 80%;
  cursor: pointer;
  transition: all 0.2s ease-in;
}
.explore__contents form div {
  transform: matrix(-1, 0, 0, 1, 0, 0) rotate(180deg);
  color: #f6f6f6;
  font-size: 16px;
  font-weight: 500;
}
.explore__contents form button {
  width: 218px;
}
@media (min-width: 768px) {
  .explore h1 {
    width: 100%;
    font-size: 40px;
  }
  .explore p {
    width: 100%;
  }
}

.fonctionnement {
  position: relative;
  width: 100%;
  padding: 28px 32px;
}
.fonctionnement h2 {
  position: inherit;
  font-size: 24px;
  margin-bottom: 26px;
  left: -12px;
}
.fonctionnement__container {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.fonctionnement__container:last-child {
  padding-bottom: 40px;
}
.fonctionnement__contents {
  position: relative;
  width: 322px;
  background-color: #f7f7f7;
  border-radius: 20px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  padding: 28px 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 23px;
}
.fonctionnement__number {
  position: absolute;
  left: -12px;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #9356DC;
  border: #9356DC;
  border-radius: 15px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
}
.fonctionnement__txt {
  display: flex;
  padding-left: 34.5px;
  gap: 23px;
}
.fonctionnement__txt i {
  color: #7e7e7e;
}
.fonctionnement__txt .fa-store {
  color: #9356DC;
}
.fonctionnement__txt span {
  font-size: 16px;
  font-weight: 500;
}
@media (min-width: 768px) {
  .fonctionnement {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 28px 192px;
  }
  .fonctionnement__container {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 36.5px;
  }
}

.restaurants {
  width: 100%;
  padding: 54px 20px;
  background-color: #f6f6f6;
  box-sizing: border-box;
}
.restaurants__cards {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.restaurants__cards .card {
  position: relative;
  box-sizing: border-box;
  flex: 1;
}
.restaurants__cards .card__nouveau {
  position: absolute;
  top: 15px;
  right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 29px;
  background-color: #99E2D0;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  border-radius: 2px;
}
.restaurants__cards .card__nouveau p {
  font-size: 14px;
  font-weight: 500;
  color: #008766;
}
.restaurants__cards .card article {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.restaurants__cards .card article img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 90%;
  max-height: 200px;
  border-radius: 20px 20px 0px 0px;
}
.restaurants__cards .card article .card__txt {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10%;
  border-radius: 0px 0px 20px 20px;
  background-color: #ffffff;
  padding: 16px 13px;
}
.restaurants__cards .card article .card__txt h3 {
  margin: 0;
}
.restaurants__cards .card article .card__txt p {
  margin-top: 5px;
  margin-bottom: 0;
}
.restaurants__cards .card article .card__txt .fa-regular {
  font-size: 22px;
  margin-right: 12px;
}
.restaurants__cards .card article .card__txt .fa-solid {
  display: none;
  margin-right: 12px;
  font-size: 22px;
  color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
  background-image: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
}
@media (min-width: 768px) {
  .restaurants {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px 180px;
  }
  .restaurants__cards {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }
  .restaurants__cards .card {
    display: flex;
    flex: 50%;
    max-width: 45%;
    gap: 100px;
  }
}

.header__logo a {
  position: fixed;
  display: flex;
  font-size: 17px;
  left: 23px;
  padding-top: 14px;
  color: #353535;
}

.background__img {
  width: 100%;
  min-width: 375px;
  height: 275px;
  background-size: cover;
  position: relative;
  background-image: url(../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
}

.menu {
  width: 100%;
  height: 100%;
  background-color: #f6f6f6;
  position: relative;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  top: -40px;
}
.menu__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu__title h1 {
  font-family: "Shrikhand", sans-serif;
  font-weight: 400;
  font-size: 28px;
  padding: 9px 17px;
}
.menu__title .fa-regular {
  font-size: 22px;
  margin-right: 28px;
}
.menu__title .fa-solid {
  display: none;
  margin-right: 28px;
  font-size: 22px;
  color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
  background-image: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
}
.menu__container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 0 13px 40px;
}
.menu__container h2 {
  font-weight: 300;
  font-size: 16px;
  margin: 0;
  border-bottom: 3px solid #99E2D0;
  padding-bottom: 5px;
  width: 12%;
}
.menu__container .menu__contents {
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  padding: 12px 15px;
}
.menu__container .menu__contents h3 {
  font-weight: 500;
  margin: 0;
  padding-bottom: 5px;
}
.menu__container .menu__contents .menu__txt {
  display: flex;
  justify-content: space-between;
}
.menu__container .menu__contents .menu__txt p {
  margin: 0;
  font-size: 14px;
}
.menu__container .menu__contents .menu__txt :first-child {
  font-weight: 300;
}
.menu__container .menu__contents .menu__txt :last-child {
  font-weight: 700;
  color: #353535;
}
.menu .commander-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 40px;
}
.menu .commander-btn form {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  width: 186px;
}
.menu .commander-btn form button {
  height: 50px;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  border-radius: 25px;
  transform: matrix(1, 0, 0, -1, 0, 0);
  border: none;
}
.menu .commander-btn form button:hover {
  opacity: 80%;
  cursor: pointer;
  transition: all 0.2s ease-in;
}
.menu .commander-btn form div {
  transform: matrix(-1, 0, 0, 1, 0, 0) rotate(180deg);
  color: #f6f6f6;
  font-size: 16px;
  font-weight: 500;
}
.menu .commander-btn form button {
  width: 186px;
}

footer {
  position: relative;
  top: -40px;
}/*# sourceMappingURL=main.css.map */