//header
.header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    &__logo {
        @include header-logo;
        img {
            //l'ecran pour la tablette et desktop
            @media (min-width: 768px) {
                width: 200px;
                height: 35px;
                padding: 30px 0;
            }
        }
    }
    &__location {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 17px;
        background-color: #EAEAEA;
        box-shadow: inset 0 5px 5px -4px rgba(0, 0, 0, 0.2);
        i {
            color: $text-point-color;
        }
        p {
            color: $text-point-color;
            font-size: 16px;
        }
    }
}