//heart-btn : à modifier

input[type=checkbox] {
    display: none;
}


#heart:checked ~ .fa-solid {
    display: inline-block;
}

#heart:checked ~ .fa-regular {
    display: none;
}

#heart2:checked ~ .fa-solid {
    display: inline-block;
}

#heart2:checked ~ .fa-regular {
    display: none;
}

#heart3:checked ~ .fa-solid {
    display: inline-block;
}

#heart3:checked ~ .fa-regular {
    display: none;
}

#heart4:checked ~ .fa-solid {
    display: inline-block;
}

#heart4:checked ~ .fa-regular {
    display: none;
}

