
//explore & cta btn
.explore {
    padding: 40px;
    background-color: #f6f6f6;
    &__contents {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h1 {
            font-size: 24px;
            width: 275px;
            height: 68px;
            margin-bottom: 0;
            text-align: center;
        }
        p {
            font-size: 18px;
            font-weight: 300;
            width: 315px;
            height: 46px;
            margin-top: 0;
            margin-bottom: 27px;
            text-align: center;
        }

        form {
            @include form-cta;
            button {
                width: 218px;
            }
    }
}
@media (min-width: 768px) {
    h1{
        width: 100%;
        font-size: 40px;
    }
    p {
        width: 100%;
    }
}
}

//fonctionnement

.fonctionnement {
    position: relative;
    width: 100%;
    padding: 28px 32px;
    h2 {
        position: inherit;
        font-size: 24px;
        margin-bottom: 26px;
        left: -12px;
    }
    &__container {
        display: flex;
        flex-direction: column;
        gap: 25px;
        &:last-child {
            padding-bottom: 40px;
        }
    }
    &__contents {
        position: relative;
        width: 322px;
        background-color: #f7f7f7;
        border-radius: 20px;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
        padding: 28px 0;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 23px;
    }

    &__number {
        position: absolute;
        left: -12px;
        width: 24px;
        height: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $point-color;
        border: $point-color;
        border-radius: 15px;
        color: $white-color;
        font-size: 14px;
        font-weight: 500;
    }

    &__txt {
        display: flex;
        padding-left: 34.5px;
        gap: 23px;
        i {
            color: #7e7e7e;
        }
        .fa-store {
            color: $point-color;
        }
        span {
            font-size: 16px;
            font-weight: 500;
        }
    }
    @media (min-width: 768px) {
        width: 100%;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 28px 192px;
        &__container {
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            gap: 36.5px;
        }
    }
}

//les cartes des restaurants

.restaurants {
    width: 100%;
    padding: 54px 20px;
    background-color: $main-bg-color;
    box-sizing: border-box;
    &__cards {
        display: flex;
        flex-direction: column;
        gap: 18px;
        .card {
            position: relative;
            box-sizing: border-box;
            flex: 1;
            &__nouveau {
                position: absolute;
                top: 15px;
                right: 15px;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 80px;
                height: 29px;
                background-color: $nouveau-bg-color;
                box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
                border-radius: 2px;
                p {
                    font-size: 14px;
                    font-weight: 500;
                    color: $nouveau-txt-color;
                }
            }
        }
        .card article {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;
            img {
                object-fit: cover;
                width: 100%;
                height: 90%;
                max-height: 200px;
                border-radius: 20px 20px 0px 0px;
            }
            .card__txt {
                display: flex;
                justify-content: space-between;
                align-items: center;
                height: 10%;
                border-radius: 0px 0px 20px 20px;
                background-color: $white-color;
                padding: 16px 13px;
                h3 {
                    margin: 0;
                }
                p {
                    margin-top: 5px;
                    margin-bottom: 0;
                }
                .fa-regular {
                    font-size: 22px;
                    margin-right: 12px;
                }
                .fa-solid {
                    display: none;
                    margin-right: 12px;
                    font-size: 22px;
                    color: transparent;
                    background-clip: text;
                    background-image: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
                }
            }
        }
    }
    @media (min-width: 768px) {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 30px 180px;
        &__cards {
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: space-between;
            .card {
                display: flex;
                flex: 50%;
                max-width: 45%;
                gap: 100px;
            }
        }
    }
}

