//arrow left logo
.header__menu  {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding-left: 23px;
.header__icon {
    a {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 17px;
        color: $text-point-color;
    }
}    
}

//background-img
.background__img {
    @include background-img;
    @media (min-width: 768px) {
        height: 500px;
    }
}

//background-img url : La palette du goût
.palette {
    background-image: url(../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
}

//background-img url : La note enchantée
.note {
    background-image: url(../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
}

//background-img url : À la française
.francaise {
    background-image: url(../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
}

//background-img url : Le délice des sens
.delice {
    background-image: url(../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
}


//section menu
.menu {
    width: 100%;
    height: 100%;
    background-color: $main-bg-color;
    position: relative;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    top: -40px;
    &__title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        h2 {
            font-family: $point-font;
            font-weight: 400;
            font-size: 28px;
            padding: 9px 17px;
        }
        .heartbox {
            @include heart;
            padding-right: 20px;
            .fa-regular {
                background-color: #f3f3f3;
            }
        }
    }
    &__container {
        display: flex;
        flex-direction: column;
        gap: 12px;
        padding: 0 13px 40px;
        opacity: 0;
        transform: translateY(-30px);
        &:nth-child(2) {
            animation: apparition 0.8s 0.6s ease-out forwards;
        }
        &:nth-child(3) {
            animation: apparition 0.8s 1.4s ease-out forwards;
        }
        &:nth-child(4) {
            animation: apparition 0.8s 2.2s ease-out forwards;
        }
        @keyframes apparition {
            100% {
                opacity: 1;
                transform: none;
            }
        }
        h2 {
            font-weight: 300;
            font-size: 16px;
            text-transform: uppercase;
            margin: 0;
            border-bottom: 3px solid $nouveau-bg-color;
            padding-bottom: 5px;
            width: 12%;
        }
        .menu__contents {
        background-color: $white-color;
        border-radius: 15px;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
        padding: 12px 15px;
        position: relative;
        cursor: pointer;
        transition: padding-right 0.3s linear;
        overflow: hidden;
        &:hover {
            padding-right: 84px;
        }
        &::before {
            content: "";
            position: absolute;
            right: -62px;
            top: 0;
            width: 29px;
            height: 100%;
            background: $nouveau-bg-color;
            z-index: 1;
            transition: transform 0.3s linear;
            transform-origin: 0 0;
            transform: scaleX(0);
            border-top-left-radius: 13px;
            border-bottom-left-radius: 13px;
        }
        &:hover::before{
            transform: scaleX(-3.5);
        }
        h3 {
            font-weight: 500;
            margin: 0;
            padding-bottom: 5px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
        .menu__txt {
            display: flex;
            justify-content: space-between;
            p {
                margin: 0;
                font-size: 14px;
                font-weight: 300;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
            }
            .slide {
                display: flex;
                justify-content: space-between;
                align-items: center;
            .euro{
                position: relative;
                top: 0px;
                left: 27px;
                font-weight: 700;
                color: $text-point-color;
            }
            i {
                position: relative;
                top: -16px;
                left: 64px;
                font-size: 20px;
                color: $white-color;
                z-index: 2;
            }
        }
        }
        }
    }
    .commander-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 40px;
        form {
            @include form-cta;
            width: 186px;
            button {
            width: 186px;
        }
    }
}
    @media (min-width: 768px) {
        width: 60%;
        margin: auto;
        padding: 50px 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        &__title {
            justify-content: center;
            gap: 7px;
        }
        &__container {
            width: 70%;
            h2 {
                width: 5%;
            }
        }
    }
}



footer {
    position: relative;
    top: -40px;
}