//couleurs 
$point-color: #9356DC;
$text-point-color: #353535;
$nouveau-bg-color: #99E2D0;
$nouveau-txt-color: #008766;
$logo-color: #101010;
$main-bg-color: #f6f6f6;
$white-color: #ffffff;

//fonts
$main-font: 'Roboto', sans-serif;
$point-font: 'Shrikhand', sans-serif;